@model IEnumerable<MovieShop_Oregano.Models.Movie>

@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_MovieCollectionLayout.cshtml";

	Pager pager = new Pager();
	int pageNo = 0;

	if (ViewBag.Pager != null)
	{
		pager = ViewBag.Pager;
		pageNo = pager.CurrentPage;
	}

}

<h1>All Created Movies</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>

	<div class="row row-cols-2 row-cols-md-3 row-cols-sm-2 row-cols-lg-4 row-cols-xl-6 row-equal-height"> @* row-cols-xl-5 *@
		@foreach (var item in Model)
		{
			<div class="col mb-3">
				<div class="card h-100">
					@* /* max-width: 540px or 350px; */ *@
					<div class="row g-0">
						<div class="col-md-12">
							<div class="card-header text-white bg-dark-green">
								<p class="card-text">
									<h5 class="card-title d-flex justify-content-between">
										@item.Title
										<a class="text-white float-end" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i></a>
									</h5>
								</p>
							</div>
						</div>
						<div class="col-md-12">
                        <img src="~/img/@item.MovieImg" width="100%" alt="@item.Title">
						</div>
						<div class="col-md-12">
							<div class="card-body">
								<p class="card-text"><b>Directed by: </b>@item.Director</p>
								<p class="card-text"><b>Release Date: </b>@item.ReleaseYear</p>
								<p class="card-text"><b>Price: </b>@item.Price</p>
							</div>
						</div>
						<div class="col-md-12">
							<div class="card-footer ">
                            <div class="btn-container d-flex justify-content-between flex-wrap d-grid gap-3 mt-2 mb-2"> @* mt-2 mb-2 *@
                                <a class="btn btn-outline-primary" asp-action="Details" asp-route-id="@item.Id">
										<i class="bi bi-eye-fill"></i> Show Details
									</a>
                                <a class="btn btn-outline-danger" asp-controller="Movie" asp-action="Delete" asp-route-id="@item.Id">
										<span class="bi bi-cart-plus"></span> Delete
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		}
	</div>
	<partial name="_PagerPartial" model="@pager" />



<script>
	
	function setEqualHeight() {
		
		var rows = document.querySelectorAll('.row-equal-height');
		rows.forEach(function (row) {
			var headers = row.querySelectorAll('.card-header');
			var bodies = row.querySelectorAll('.card-body');

			var maxHeightHeader = 0;
			var maxHeightBody = 0;
			headers.forEach(function (header) {
				maxHeightHeader = Math.max(maxHeightHeader, header.offsetHeight);
			});
			bodies.forEach(function (body) {
				maxHeightBody = Math.max(maxHeightBody, body.offsetHeight);
			});

			headers.forEach(function (header) {
				header.style.height = maxHeightHeader + 'px';
			});
			bodies.forEach(function (body) {
				body.style.height = maxHeightBody + 'px';
			});
		});
	}

	window.addEventListener('load', setEqualHeight);
	window.addEventListener('resize', setEqualHeight);
</script>